<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <%= image_tag "portada-01.jpg", :alt => "", :title => "", :class=>"img-responsive main-bg"%>
    </div>
    <div class="carousel-item">
        <%= image_tag "portada-01.jpg", :alt => "", :title => "", :class=>"img-responsive main-bg"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "portada-01.jpg", :alt => "", :title => "", :class=>"img-responsive main-bg"%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<p id="notice"><%= notice %></p>
<!--  -->


<section class="row content-wrap">
   <%if @principal_publication != nil %>
    <div class = "container" id = "principal">
        <h1>Publicacion Principal</h1>
        <article class="col-sm-4 post post-masonry post-format-image">
            <div class="post-wrapper row">
                <div class="featured-content row">
                    <a href="single.html">
                    <%if @principal_publication.image.to_s.empty? %>
                        <p>Imagen no encontrada</p>
                    <%else%>
                        <%= image_tag @principal_publication.image.jpeg.url %>
                    <%end%>
                    </a>
                </div>
                <div class="post-excerpt row">
                    <h5 class="post-meta">
                        <a href="#" class="date">
                          <!-- FECHA PUBLICACION O ULTIMAEDICION -->
                        </a>
                        <span class="post-author">
                          <!-- <i>by</i>
                          <a href="#">Mark Sanders</a> -->
                          <!-- AUTOR O ULTIMO CAMBIO  -->
                        </span>
                    </h5>
                    <h3 class="post-title">
                      <%= link_to @principal_publication do%>
                        <%= @principal_publication.subtitle %>
                      <% end%>
                    </h3>
                    <p>
                      <%= @principal_publication.description.truncate_words(20) %>
                    </p>
                    <p>
                    <% if user_signed_in?  %>
                    Ultima modificación:
                        <% if @principal_publication.user != nil%>
                            <i><%= @principal_publication.user.name%> <%= @principal_publication.user.last_name%></i>
                        <%else%>
                            <i>Usuario no encontrado</i>
                        <%end%>
                        <p>
                            <%= @principal_publication.updated_at.strftime('Hora: %I:%M:%S') %>
                        </p>
                        <p>
                            <%= @principal_publication.updated_at.strftime('Fecha: %d/%m/%Y') %>
                        </p>
                    <%end%>
                    </p>
                    <footer class="row">
                        <h5 class="taxonomy">Essentia,<i> arte y cultura</i></h5>
                        <div class="response-count">
                          <% if user_signed_in? %>
                            <%= link_to edit_publication_path(@principal_publication) do%>
                              <%= image_tag "edit.png", :alt =>"", :title => "", :class=>"img-responsive main-bg"%>
                            <% end%>
                            </br>
                            <%= link_to @principal_publication, method: :delete, data: { confirm: 'Are you sure?' } do%>
                              <%= image_tag "share-cross.png", :alt =>"", :title => "", :class=>"img-responsive main-bg"%>
                            <%end%>
                            </br>
                          <%end%>
                          <%=  link_to @principal_publication do%>
                            <%= image_tag "comment-icon-gray.png", :alt =>"", :title => "", :class=>"img-responsive main-bg"%>
                          <% end%>
                        </div>
                    </footer>
                </div>
            </div>
        </article>

    </div>
    <%end%>

    <div class="container">
        <div class="row" id="post-masonry">

            <!--Blog Post-->
            <h2>Resto de publicaciones</h2>
            <% @publications.each do |publication| %>
            <article class="col-sm-4 post post-masonry post-format-image">
                <div class="post-wrapper row">
                    <div class="featured-content row">
                        <a href="single.html">
                        <%if publication.image.to_s.empty? %>
                            <p>Imagen no encontrada</p>
                        <%else%>
                            <%= image_tag publication.image.jpeg.url %>
                        <%end%>
                        </a>
                    </div>
                    <div class="post-excerpt row">
                        <h5 class="post-meta">
                            <a href="#" class="date">
                              <!-- FECHA PUBLICACION O ULTIMAEDICION -->
                            </a>
                            <span class="post-author">
                              <!-- <i>by</i>
                              <a href="#">Mark Sanders</a> -->
                              <!-- AUTOR O ULTIMO CAMBIO  -->
                            </span>
                        </h5>
                        <h3 class="post-title">
                          <%= link_to publication do%>
                            <%= publication.subtitle %>
                          <% end%>
                        </h3>
                        <p>
                          <%= publication.description.truncate_words(20) %>
                        </p>
                        <p>
                        <% if user_signed_in?  %>
                        Ultima modificación:
                            <% if publication.user != nil%>
                                <i><%= publication.user.name%> <%= publication.user.last_name%></i>
                            <%else%>
                                <i>Usuario no encontrado</i>
                            <%end%>
                            <p>
                                <%= publication.updated_at.strftime('Hora: %I:%M:%S') %>
                            </p>
                            <p>
                                <%= publication.updated_at.strftime('Fecha: %d/%m/%Y') %>
                            </p>
                        <%end%>
                        </p>

                        <footer class="row">
                            <h5 class="taxonomy">Essentia,<i> arte y cultura</i></h5>
                            <div class="response-count">
                              <% if user_signed_in? %>
                                <%= link_to edit_publication_path(publication) do%>
                                  <%= image_tag "edit.png", :alt =>"", :title => "", :class=>"img-responsive main-bg"%>
                                <% end%>
                                </br>
                                <%= link_to publication, method: :delete, data: { confirm: 'Are you sure?' } do%>
                                  <%= image_tag "share-cross.png", :alt =>"", :title => "", :class=>"img-responsive main-bg"%>
                                <%end%>
                                </br>
                              <%end%>
                              <%=  link_to publication do%>
                                <%= image_tag "comment-icon-gray.png", :alt =>"", :title => "", :class=>"img-responsive main-bg"%>
                              <% end%>
                            </div>
                        </footer>
                    </div>
                </div>
            </article>
            <% end %>
        </div>
    </div>
</section>

<!--  -->

<br>
<footer class="row" id="footer">
    <div class="container">
        <div class="row top-footer">
            <div class="widget col-sm-3 widget-about">
                <div class="row m0"><a href="index.html"><img src="#" alt=""></a></div>
            </div>
            <div class="widget col-sm-5 widget-menu">
                <div class="row">
                    <ul class="nav column-menu white-bg">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">categories</a></li>
                        <li><a href="#">archives</a></li>
                    </ul>
                    <ul class="nav column-menu white-bg">
                        <li><a href="#">Products</a></li>
                        <li><a href="#">faq</a></li>
                        <li><a href="#">contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="widget col-sm-4 widget-subscribe">
                <h5 class="widget-title">subscribe to our newsletter.</h5>
                <form action="#" method="post" class="form-inline subscribe-form">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm"><span>send</span></button>
                </form>
            </div>
        </div>
        <h5 class="copyright"><a href="#">&copy; Chivalric 2016</a></h5>
    </div>
</footer>

<style>
a, .btn, button {
  text-decoration: none;
  outline: none;
  font-size: 13px;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
  text-decoration: none;
  outline: none;
}
.btn-primary {
  background: transparent;
  border-width: 0 2px;
  border-style: solid;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 2px;
  background-size: 100% 2px;
  border-radius: 0;
  text-transform: uppercase;
  padding: 0 40px;
  line-height: 42px;
  font-family: "Kanit", sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  color: #fff;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
.btn-primary:hover, .btn-primary:focus {
  background-image: -webkit-linear-gradient(left, #81db34 0%, #34d9da 100%), -webkit-linear-gradient(left, #81db34 0%, #34d9da 100%);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  border-left: 2px solid;
  border-right: 2px solid;
  color: #fff;
}
</style>

